<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="x-apple-disable-message-reformatting">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

      <title>Verify Your Account</title>
      <style type="text/css">
         a,a[href],a:hover, a:link, a:visited {
         /* This is the link colour */
         text-decoration: none!important;
         color: #0000EE;
         }
         .link {
         text-decoration: underline!important;
         }
         p, p:visited {
         font-size:15px;
         line-height:24px;
         font-family:'Helvetica', Arial, sans-serif;
         font-weight:300;
         text-decoration:none;
         color: #000000;
         }
         h1 {
         /* Fallback heading style */
         font-size:22px;
         line-height:24px;
         font-family:'Helvetica', Arial, sans-serif;
         font-weight:normal;
         text-decoration:none;
         color: #000000;
         }
         .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {line-height: 100%;}
         .ExternalClass {width: 100%;}
         *{
              font-family: "Roboto", sans-serif;

         }
      </style>
   </head>
   <body style="text-align: center; margin: 0; padding-top: 30px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000" align="center">
      <div style="text-align: center;">
         <!-- Start container for logo -->
         <table align="center" style="text-align: center; vertical-align: top;  max-width: 600px; background-color: #ffffff;" >
            <tbody>
               <tr>
                  <td style="width: 596px; vertical-align: top; background-color: #003760; padding-left: 0; padding-right: 0;">
                     <!-- Your logo is here -->
                     <img style="width: 220px; max-width: 220px; object-fit: contain; text-align: center; color: #ffffff;" alt="Logo" src="https://api.fmservicehub.com/marine_new_logo.png" align="center" >
                  </td>
               </tr>
            </tbody>
         </table>
         <table align="center" style="text-align: center; vertical-align: top; max-width: 600px; width: 100%; background-color: #ffffff;" >
            <tbody>
               <tr>
                  <td style="padding:30px 20px 20px; text-align:start; "><strong>Subject :</strong> <span style="font-weight: 500;">Your Task is Ending Tomorrow</span></td>
               </tr>
               <tr>
                  <td style="vertical-align: top; padding-left: 20px; padding-right: 20px; padding-top: 0px; padding-bottom: 40px;" >
                     <h1 style="font-size: 16px; line-height: 24px;   text-align: start; text-decoration: none; color: #000000;">Dear John</h1>
                     <p style="text-align:start"> This is a reminder that the task is scheduled to be completed by tomorrow,see Detail below </p>
                     <h5 style=" margin-bottom: 5px;font-size: 16px; margin-top: 0px; text-align:start; margin-top: 20px;">Task Description</h5>
                     <li style="text-align:start">
                        <h5 style="margin-bottom: 5px; font-size: 14px; margin-top: 0px;">Task Name</h5>
                        <p style="margin-bottom: 0px; margin-top: 0px; font-weight: 400;">{{TASK_NAME}}</p>
                     </li>
                     <li style="text-align:start; margin-top:15px">
                        <h5 style="margin-bottom: 5px; font-size: 14px; margin-top: 0px;">Boat Name</h5>
                        <p style="margin-bottom: 0px; margin-top: 0px; font-weight: 400;">{{BOAT_NAME}}</p>
                     </li>
                     <li style="text-align:start; margin-top:15px">
                        <h5 style="margin-bottom: 5px; font-size: 14px; margin-top: 0px;">Task Date</h5>
                        <p style="margin-bottom: 0px; margin-top: 0px; font-weight: 400;"><span>{{TASK_END_DATE}}</span> To <span>{{TASK_END_DATE}}</span></p>
                     </li>
                     
                    
                     <div style="text-align:left; margin-top:50px">
                        <p style="margin-bottom:0px; font-weight:500">Thank You</p>
                        <h4 style="font-size: 20px; line-height: 24px; margin-top: 10px; margin-bottom: 0px;  font-weight: 600;">ServiceHub Team</h4>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
         <table align="center" style="text-align: center; vertical-align: top;max-width: 600px; width: 100%; background:#01365d">
            <tbody>
               <tr>
                  <td style=" vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;">
                     <p style="margin-bottom:10px; margin-top: 0px; text-align:center; color:#fff;">Need More Help?</p>
                     <a href="mailto:ahoy@firstmate.com.au" style="color:#fff; text-decoration: underline; text-align:center; display: block; ">We are here to help you out</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>